
<h1 class="text-2xl font-bold mb-2 text-center text-gray-800 mt-8">Calculadora de Presupuestos</h1>
<div class="flex flex-col md:flex-row gap-4 my-2 p-4 md:p-6 max-w-7xl items-start">

  <div class="md:flex-1 p-4 md:p-6 border border-gray-300 rounded-lg shadow-md bg-white mx-auto max-w-md w-full">
    <form [formGroup]="mainForm">

      <h2 class="text-xl font-bold mb-3">Selecciona los servicios:</h2>
      <div class="space-y-3">

        <div class="relative flex items-start">
          <input type="checkbox" id="seo" formControlName="seo"
          class="mt-1 h-4 w-4 text-indigo-600 border-gray-300 rounded peer z-10"
          style="position: absolute; left: 12px; top: 16px;">
          <label for="seo" class="block w-full p-3 pl-10 rounded-lg cursor-pointer transition border border-gray-300 shadow-sm peer-checked:bg-gray-100 peer-checked:border-indigo-600 peer-checked:shadow-sm">
            <span class="font-semibold text-base text-gray-800">Hacer una campaña SEO</span>
            <span class="text-sm text-gray-600"> (300 €)</span>
          </label>
        </div>

        <div class="relative flex items-start">
          <input type="checkbox" id="ads" formControlName="ads"
          class="mt-1 h-4 w-4 text-indigo-600 border-gray-300 rounded peer z-10"
          style="position: absolute; left: 12px; top: 16px;">
          <label for="ads" class="block w-full p-3 pl-10 rounded-lg cursor-pointer transition border border-gray-300 shadow-sm peer-checked:bg-gray-100 peer-checked:border-indigo-600 peer-checked:shadow-sm">
            <span class="font-semibold text-base text-gray-800">Hacer una campaña de publicidad</span>
            <span class="text-sm text-gray-600"> (400 €)</span>
          </label>
        </div>

        <div class="relative flex items-start">
          <input type="checkbox" id="web" formControlName="web"
          class="mt-1 h-4 w-4 text-indigo-600 border-gray-300 rounded peer z-10"
          style="position: absolute; left: 12px; top: 16px;">
          <label for="web" class="block w-full p-3 pl-10 rounded-lg cursor-pointer transition border border-gray-300 shadow-sm peer-checked:bg-gray-100 peer-checked:border-indigo-600 peer-checked:shadow-sm">
            <span class="font-semibold text-base text-gray-800">Hacer una página web</span>
            <span class="text-sm text-gray-600"> (500 €)</span>
          </label>
        </div>
      </div>


      @if (mainForm.controls.web.value) {
        <div [formGroup]="panelForm" class="w-full mt-3 p-3 pl-6 border-l border-indigo-400 border-r border-b rounded-b-lg">

          <h3 class="text-base font-semibold mb-3">Extras de la Página Web:</h3>

          <div class="flex items-center space-x-3 mb-3">
            <button (click)="openHelpModal('pages')" type="button"
                class="ml-3 w-5 h-5 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition flex items-center justify-center text-xs font-bold">
            i
        </button>
            <label for="numPages" class="text-sm">Número de páginas:</label>

              <button type="button"
                      (click)="updatePanelValue('numPages', -1)"
                      [disabled]="(panelForm.get('numPages')!.value ?? 0) <= 1"
                      class="w-7 h-7 rounded-full bg-indigo-500 text-white text-base hover:bg-indigo-600 disabled:opacity-50 transition">
                  –
              </button>

              <input type="number" formControlName="numPages" readonly class="w-12 text-center border border-gray-300 rounded-md p-0.5 font-semibold text-sm">

              <button type="button"
                      (click)="updatePanelValue('numPages', 1)"
                      class="w-7 h-7 rounded-full bg-indigo-500 text-white text-base hover:bg-indigo-600">
                  +
              </button>
          </div>

          <div class="flex items-center space-x-3">
            <button (click)="openHelpModal('languages')" type="button"
                class="ml-3 w-5 h-5 rounded-full border border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white transition flex items-center justify-center text-xs font-bold">
            i
        </button>
            <label for="numLanguages" class="text-sm">Número de idiomas:</label>

              <button type="button"
                      (click)="updatePanelValue('numLanguages', -1)"
                      [disabled]="(panelForm.get('numLanguages')!.value ?? 0) <= 1"
                      class="w-7 h-7 rounded-full bg-indigo-500 text-white text-base hover:bg-indigo-600 disabled:opacity-50 transition">
                  –
              </button>

              <input type="number" formControlName="numLanguages" readonly class="w-12 text-center border border-gray-300 rounded-md p-0.5 font-semibold text-sm">

              <button type="button"
                      (click)="updatePanelValue('numLanguages', 1)"
                      class="w-7 h-7 rounded-full bg-indigo-500 text-white text-base hover:bg-indigo-600">
                  +
              </button>
          </div>
      </div>
      }
    </form>

    @if (activeHelpModal() !== 'closed') {
      <div class="fixed inset-0 shadow-2xl flex items-center justify-center z-50"
          (click)="closeHelpModal()">

        <div class="bg-white p-6 rounded-xl shadow-2xl max-w-xs w-full mx-4"
            (click)="$event.stopPropagation()">

          <h4 class="text-xl font-bold mb-3 text-center text-gray-800">
            @if (activeHelpModal() === 'pages') {
              Número de Páginas
            } @else {
              Número de Idiomas
            }
          </h4>

          @if (activeHelpModal() === 'pages') {
            <p class="mb-4 text-center text-sm text-gray-700">
                Añade las páginas que tendrá tu web, teniendo en cuenta que el precio base ya incluye una. El coste de cada página adicional es de {{ budgetService.PRICE_PER_MODULE }}€.
            </p>
          } @else {
            <p class="mb-4 text-center text-sm text-gray-700">
                Añade los idiomas a los que se traducirá tu proyecto, teniendo en cuenta que el precio base ya incluye un idioma principal. El coste de cada idioma adicional es de {{ budgetService.PRICE_PER_MODULE }}€.
            </p>
          }


          <div class="text-center">
            <button (click)="closeHelpModal()"
                    class="px-5 py-1.5 bg-indigo-500 text-white font-medium rounded-lg hover:bg-indigo-700 transition text-sm">
              Entendido
            </button>
          </div>
        </div>
      </div>
    }
    <hr class="my-4">
    <div class="p-3 bg-gray-100 font-bold text-lg flex justify-between items-center rounded-md">
    <span class="font-extrabold text-lg">PRECIO TOTAL:</span>
    <span class="text-2xl font-extrabold">{{ budgetService.totalPrice() | number:'1.2-2' }} €</span>
    </div>
  </div>
  <div class="md:flex-1 p-4 md:p-6 border border-gray-300 rounded-lg shadow-md bg-white mx-auto max-w-md w-full">
      <div>
        <h2 class="text-xl font-bold mb-3">Datos del Cliente:</h2>
        <form [formGroup]="clientForm" class="space-y-3 ">
            <input type="text" formControlName="clientName" placeholder="Nombre del Cliente"
                  class="w-full p-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

            <input type="tel" formControlName="clientPhone" placeholder="Teléfono"
                  class="w-full p-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">

            <input type="email" formControlName="clientEmail" placeholder="Email"
                  class="w-full p-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
        </form>
        <div class="mt-4 text-center">
            <button (click)="saveBudget()"
                    [disabled]="clientForm.invalid"
                    class="px-6 py-2 bg-green-500 text-white font-medium rounded-lg hover:bg-green-600 transition disabled:opacity-50">
                💾 Guardar Presupuesto ({{ budgetService.totalPrice() | number:'1.2-2' }} €)
            </button>
        </div>
      </div>
      <hr class="my-6">
      <app-budgets-list></app-budgets-list>
  </div>
</div>
